/* Navigation element that collapses on mobile */
.collapsible-nav {
  display: flex;
  flex-direction: column;
  font-family: var(--db-display);
  font-size: 17px;
  position: relative;

  @include tablet {
    flex-direction: row;
  }
}

.collapsible-nav-border {
  border-bottom: 1px solid var(--db-line);
  border-top: 1px solid var(--db-line);

  @include tablet {
    border-top: 0;
  }
}

.collapsible-nav-toggle {
  @include tablet { display: none; }
  top: calc(45px / 2);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  padding: 0;
  border: 0;
  background: none;
  color: var(--db-ink);
  cursor: pointer;
  width: 25px;
  height: 25px;

  [dir="rtl"] & {
    left: 0;
    right: auto;
  }

  &-icon {
    display: none;
  }

  &[aria-expanded="false"] {
    .chevron-icon {
      display: inline-block;
    }
  }

  &[aria-expanded="true"] {
    .x-icon {
      display: inline-block;
    }
  }
}

.collapsible-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet {
    flex-direction: row;
    gap: 28px;
  }

  li {
    color: var(--db-ink-2);
    line-height: 45px;
    order: 1; // All elements have the same order

    @include tablet {
      line-height: normal;
    }

    a {
      border-bottom: 4px solid transparent;
      color: var(--db-ink-2);
      display: block;
      font-weight: 600;
      letter-spacing: .05em;
      text-transform: uppercase;

      &:visited {
        color: var(--db-ink-2);
      }

      &:hover,
      &:focus,
      &:active {
        color: var(--db-bordeaux);
        text-decoration: none;
      }

      @include tablet {
        margin-bottom: -2px;
        padding: 12px 0;
      }
    }
  }

  li:not([aria-selected="true"]),
  li:not(.current) {
    display: none;

    @include tablet { display: block; }
  }

  li[aria-selected="true"],
  li.current {
    order: 0; //Move to top of menu
    position: relative;

    @include tablet {
      order: 1;
    }

    a {
      color: var(--db-bordeaux);

      @include tablet {
        border-bottom-color: var(--db-coral);
      }
    }
  }
}

.collapsible-nav[aria-expanded="true"] {
  li:not([aria-selected="true"]),
  li:not(.current) {
    display: block;
  }
}
