.sub-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 20px 0 28px;

  // Inner pages breadcrumbs
  .breadcrumbs {
    margin: 0;
  }

  // Inner pages search field
  .search-container {
    flex: 0 1 380px;
    max-width: 100%;
    width: 100%;
  }
}
